# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# data files
*.h5
*.npy
# except
!data.npy
!As.npy
*.png

# virtualenv
*.venv*

# experimental files
*toy_example.ipynb
*toy_example2.ipynb
*toy_data_noga.ipynb
dLDS_discrete/dlds_discrete/cdlds/models2.py
dLDS_discrete/dlds_discrete/cdlds/combining_dlds_controls_2.ipynb
dLDS_discrete/dlds_discrete/cdlds/models_temp_NN.py

# models
*.pth

# wandb
*wandb*

# submitit jobs
submitit_jobs/
