# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# data files
*.h5
!quartiled_data_1609.h5
*.npy
*.npz
*.pdf
# except
!data.npy
!As.npy
!worm_data_low.npy
!worm_DS1_low.npy
*.png
*.jpg
*.svg

# virtualenv
*.venv*

# experimental files
*toy_example.ipynb
*toy_example2.ipynb
*toy_data_noga.ipynb
#dLDS_discrete/dlds_discrete/cdlds/models2.py
dLDS_discrete/dlds_discrete/cdlds/combining_dlds_controls_2.ipynb
dLDS_discrete/dlds_discrete/cdlds/models_temp_NN.py

# models
*.pth

# wandb
*wandb*

# submitit jobs
submitit_jobs/
submitit_logs/
dLDS_discrete/dlds_discrete/cdlds/airline-passengers.csv
dLDS_discrete/dlds_discrete/cdlds/data.npy
